@tailwind base;
@tailwind components;
@tailwind utilities;

.branches{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../src/assets/Branches2_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accra_branch,.kumasi, .trucks, .kumasi:hover, .tracks:hover
{
  background-color: rgb(228, 18, 46);
  color: white;
}



